
.geral{

    display: flex;
    align-items: center;
    padding: 20px;
    width: 580px;
        border: 1px solid var(--line-gray);
        border-radius: var(--global-radius);
background: #ffffff08;
    backdrop-filter: blur(8px);
}
.icon{
   font-size: 40px;
color: var(--main-orange);
   margin-right: 20px;

}
.dataContainer{
    display: flex;
    flex-direction: column;
}
